<div class="">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->

    <div class="container">
      <!-- <button class="btn create-btn mr-2 mt-0 text-white" (click)="open(content,{})"><i class="fas fa-plus-circle"></i> Create New Reading </button> -->
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <!-- <h5 *ngIf="readingDataService.reading" class="text-center">Reading: {{readingDataService.reading}} </h5> -->
        </div>
        <div class="col-md-4">
          <div class="float-right" *ngIf="getMedicalRecordNumber">
            <h5 class="mb-0"> BMRN: {{getMedicalRecordNumber}}</h5>
          </div>
        </div>
      </div>

    </div>

    <ng-container *ngIf="responseArray?.length>0">
      <div class="form-css" *ngIf="!isHealthParametersEdit">
        <div class="row">
          <div class="col-md-4 col-sm col-lg-12">
            <div class="card ml-2">
              <div class="card-body div-shadow">
                <h5 class="">
                  {{responseArray[0]['createdAt'] | date:'dd MMMM yyyy, h:mm a'}}
                  <!-- <button class="btn edit-btn float-right">
                    <mat-icon (click)="open(content,responseArray[0])">edit</mat-icon>
                  </button> -->
                </h5>
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="table-responsive p-3">
                      <table class="table  table-borderless mb-0">
                        <tbody>
                          <tr class="border-bottom">
                            <td class="tb-label">Appearance</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_appearance']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Feeding Status</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_feeding_status']}}</td>
                          </tr>
                         
                          <tr class="border-bottom">
                            <td class="tb-label">BP (Diastolic)</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_blood_pressure_lower_limb']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Frequency of Stools</td>
                            <td class="tb-value text-right">{{responseArray[0]['frequency_of_stools']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Vomiting</td>
                            <td class="tb-value text-right">{{responseArray[0]['vomiting']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Baby Movement with Stimulation</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_movement']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Fast Breathing</td>
                            <td class="tb-value text-right">{{responseArray[0]['fast_breathing']}}</td>
                          </tr> 
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <div class="table-responsive p-3">
                      <table class="table  table-borderless mb-0">
                        <tbody>
                         
                          <tr class="border-bottom">
                            <td class="tb-label">Breast Feeding Initiation</td>
                            <td class="tb-value text-right">{{responseArray[0]['breast_feeding_initiation']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">BP (Systolic)</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_blood_pressure_upper_limb']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">BP (Mean Arterial)</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_blood_pressure_mean_arterial_bp']}}
                            </td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Urine Output</td>
                            <td class="tb-value text-right">{{responseArray[0]['urine_output']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Abdominal Distension</td>
                            <td class="tb-value text-right">{{responseArray[0]['abdominal_dystension']}}</td>
                          </tr>
                          <tr class="border-bottom">
                            <td class="tb-label">Retraction</td>
                            <td class="tb-value text-right">{{responseArray[0]['retraction']}}</td>
                          </tr>
                        
                          <tr class="border-bottom">
                            <td class="tb-label">Chest In-drawing</td>
                            <td class="tb-value text-right">{{responseArray[0]['baby_chest_indrawing']}}</td>
                          </tr>
                          <!-- <tr class="border-bottom">
                              <td class="tb-label">Feeding Intolerance</td>
                              <td class="tb-value text-right">{{responseArray[0]['feeding_intolerance']}}</td>
                            </tr> -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>


    <div class="m-3 div-shadow" *ngIf="responseArray?.length<1 || isHealthParametersEdit">
      <form [formGroup]="healthParameters" class="form-css card" (ngSubmit)="healthParametersSubmit()" Novalidate>
        <div class="modal-header custom-modal-header add-btn">
          <div class="custom-modal-title">BABY HEALTH PARAMETERS</div>
        </div>
        <div class="modal-body scroll">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="record_type">Record Id</label>
                <input type="text" readonly [value]="id" class="form-control" name="" id="">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="hospital_branch_name">Appearance</label>
                <select class="form-control" name="baby_appearance" id="baby_appearance"
                  formControlName="baby_appearance">
                  <option value="Dull">Dull</option>
                  <option value="Lethargic">Lethargic</option>
                  <option value="Normal">Normal</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['baby_appearance'].invalid && (healthParameters.controls['baby_appearance'].dirty ||
                healthParameters.controls['baby_appearance'].touched || submitted )" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_appearance'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="breast_feeding_initiation">Breast Feeding Initiation </label>
                <select class="form-control" name="breast_feeding_initiation" id="breast_feeding_initiation"
                  formControlName="breast_feeding_initiation">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['breast_feeding_initiation'].invalid &&
                (healthParameters.controls['breast_feeding_initiation'].dirty ||
                healthParameters.controls['breast_feeding_initiation'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['breast_feeding_initiation'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="babymothername">Feeding Status </label>
                <select class="form-control" name="Baby_Feeding_Status" id="Baby_Feeding_Status"
                  formControlName="baby_feeding_status">
                  <option value="Poor">Poor</option>
                  <option value="Normal">Normal</option>
                  <option value="No Feeding">No Feeding</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['baby_feeding_status'].invalid &&
                (healthParameters.controls['baby_feeding_status'].dirty || healthParameters.controls['baby_feeding_status'].touched ||
                submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_feeding_status'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="baby_blood_pressure_upper_limb">BP (Systolic)</label>
                <div class="float-right">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="isUpperLimb"
                        (click)="onInputChange($event)" value="1" name="upper_limb">Units
                    </label>
                  </div>
                  <div class="form-check-inline mr-0">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="!isUpperLimb"
                        (click)="onInputChange($event)" value="2" name="upper_limb">NA
                    </label>
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" *ngIf="isUpperLimb" [dropSpecialCharacters]="false" mask="99"
                    class="form-control" id="baby_blood_pressure_upper_limb"
                    formControlName="baby_blood_pressure_upper_limb" min="0" autocomplete="off">
                  <input type="text" value="NA" readonly *ngIf="!isUpperLimb" class="form-control">
                </div>
                <div *ngIf="healthParameters.controls['baby_blood_pressure_upper_limb'].invalid &&
                  (healthParameters.controls['baby_blood_pressure_upper_limb'].dirty ||
                  healthParameters.controls['baby_blood_pressure_upper_limb'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_blood_pressure_upper_limb'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="baby_blood_pressure_lower_limb">BP (Diastolic)</label>
                <div class="float-right">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="isLowerLimb"
                        (click)="onInputChange($event)" value="1" name="lower_limb">Units
                    </label>
                  </div>
                  <div class="form-check-inline mr-0">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="!isLowerLimb"
                        (click)="onInputChange($event)" value="2" name="lower_limb">NA
                    </label>
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" *ngIf="isLowerLimb" [dropSpecialCharacters]="false" mask="99"
                    class="form-control" id="baby_blood_pressure_lower_limb"
                    formControlName="baby_blood_pressure_lower_limb" autocomplete="off">
                  <input type="text" value="NA" readonly *ngIf="!isLowerLimb" class="form-control">
                </div>
                <div *ngIf="healthParameters.controls['baby_blood_pressure_lower_limb'].invalid &&
                  (healthParameters.controls['baby_blood_pressure_lower_limb'].dirty ||
                  healthParameters.controls['baby_blood_pressure_lower_limb'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_blood_pressure_lower_limb'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="baby_blood_pressure_mean_arterial_bp">BP (Mean Arterial)</label>
                <div class="float-right">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="isBpArterial"
                        (click)="onInputChange($event)" value="1" name="Arterial_BP">Units
                    </label>
                  </div>
                  <div class="form-check-inline mr-0">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="!isBpArterial"
                        (click)="onInputChange($event)" value="2" name="Arterial_BP">NA
                    </label>
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" *ngIf="isBpArterial" class="form-control"
                    id="baby_blood_pressure_mean_arterial_bp" [dropSpecialCharacters]="false" mask="99"
                    formControlName="baby_blood_pressure_mean_arterial_bp" autocomplete="off">
                  <input type="text" value="NA" readonly *ngIf="!isBpArterial" class="form-control">
                </div>
                <div *ngIf="healthParameters.controls['baby_blood_pressure_mean_arterial_bp'].invalid &&
                  (healthParameters.controls['baby_blood_pressure_mean_arterial_bp'].dirty ||
                  healthParameters.controls['baby_blood_pressure_mean_arterial_bp'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_blood_pressure_mean_arterial_bp'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="urine_output">Urine Output</label>
                <select class="form-control" name="urine_output" id="urine_output" formControlName="urine_output">
                  <option value="Low">Low</option>
                  <option value="High">High</option>
                  <option value="Normal">Normal</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['urine_output'].invalid && (healthParameters.controls['urine_output'].dirty ||
                  healthParameters.controls['urine_output'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['urine_output'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="frequency_of_stools">Frequency of Stools</label>
                <div class="float-right">
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="isStools"
                        (click)="onInputChange($event)" value="1" name="Frequency">Number
                    </label>
                  </div>
                  <div class="form-check-inline mr-0">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" [checked]="!isStools"
                        (click)="onInputChange($event)" value="2" name="Frequency">NA
                    </label>
                  </div>
                </div>
                <div class="input-group">
                  <input type="text" *ngIf="isStools" min="0" [dropSpecialCharacters]="false" mask="99"
                    class="form-control" id="frequency_of_stools" formControlName="frequency_of_stools"
                    autocomplete="off">
                  <input type="text" value="NA" readonly *ngIf="!isStools" class="form-control">
                </div>
                <div *ngIf="healthParameters.controls['frequency_of_stools'].invalid &&
                  (healthParameters.controls['frequency_of_stools'].dirty || healthParameters.controls['frequency_of_stools'].touched
                  || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['frequency_of_stools'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="vomiting">Vomiting</label>
                <select class="form-control" name="vomiting" id="vomiting" formControlName="vomiting">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['vomiting'].invalid && (healthParameters.controls['vomiting'].dirty ||
                  healthParameters.controls['vomiting'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['vomiting'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="abdominal_dystension">Abdominal Distension</label>
                <select class="form-control" name="abdominal_dystension" id="abdominal_dystension"
                  formControlName="abdominal_dystension">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['abdominal_dystension'].invalid &&
                (healthParameters.controls['abdominal_dystension'].dirty || healthParameters.controls['abdominal_dystension'].touched
                || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['abdominal_dystension'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="baby_movement">Baby Movement with Stimulation</label>
                <select class="form-control" name="baby_movement" id="baby_movement" formControlName="baby_movement">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['baby_movement'].invalid && (healthParameters.controls['baby_movement'].dirty ||
                  healthParameters.controls['baby_movement'].touched || submitted)" class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_movement'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="retraction">Retraction</label>
                <select class="form-control" name="retraction" id="retraction" formControlName="retraction">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['retraction'].invalid && (healthParameters.controls['retraction'].dirty ||
                healthParameters.controls['retraction'].touched || submitted)"
                  class="error-msg">
                  <div *ngIf="healthParameters.controls['retraction'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fast_breathing">Fast Breathing</label>
                <select class="form-control" name="fast_breathing" id="fast_breathing" formControlName="fast_breathing">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['fast_breathing'].invalid && (healthParameters.controls['fast_breathing'].dirty
                || healthParameters.controls['fast_breathing'].touched || submitted)"
                  class="error-msg">
                  <div *ngIf="healthParameters.controls['fast_breathing'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="baby_chest_indrawing">Chest In-drawing</label>
                <select class="form-control" name="baby_chest_indrawing" id="baby_chest_indrawing" formControlName="baby_chest_indrawing">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <!--<option value="NA">NA</option>-->
                </select>
                <div *ngIf="healthParameters.controls['baby_chest_indrawing'].invalid &&
                (healthParameters.controls['baby_chest_indrawing'].dirty ||
                healthParameters.controls['baby_chest_indrawing'].touched || submitted)"
                  class="error-msg">
                  <div *ngIf="healthParameters.controls['baby_chest_indrawing'].errors.required">
                    This field is required.
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="feeding_intolerance">Feeding Intolerance</label>
                  <select class="form-control" name="feeding_intolerance" id="feeding_intolerance"
                    formControlName="feeding_intolerance">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="NA">NA</option>
                  </select>
                  <div *ngIf="healthParameters.controls['feeding_intolerance'].invalid &&
                    (healthParameters.controls['feeding_intolerance'].dirty || healthParameters.controls['feeding_intolerance'].touched
                    || submitted)" class="error-msg">
                    <div *ngIf="healthParameters.controls['feeding_intolerance'].errors.required">
                      This field is required.
                    </div>
                  </div>
                </div>
              </div> -->
          </div>



          <div>
            <button type="submit" *ngIf="!isEditClicked" class="btn btn-primary float-right">
              <span>Done</span>
            </button>
            <button type="button" *ngIf="isEditClicked" (click)="update_appears_form()"
              class="btn btn-primary float-right">
              <span>Update</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <ng-template #saveReadingContent let-c="close" let-d="dismiss">
        <form class="form-css" novalidate>
          <!-- <div class="modal-header custom-modal-header add-btn">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click');close()">
              <span aria-hidden="true">&times;</span>
      
            </button>
          </div> -->
            <!-- <form [formGroup]="generalForm" class="form-css-modal" (ngSubmit)="signup()" novalidate> -->
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group has-error has-danger ">
                    <label  class="text-bold text-gray-900">Are you sure you want to save Record?</label>
                  </div>
                </div>
              </div>
            </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" (click)="saveReading()">Yes</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal"
              (click)="d('Cross click');close()">No</button>
              </div>
        </form>
      </ng-template>
  </div>
</div>
