
<form action="{{ url_for("noninvasive")}}" method="POST">
<div style= "margin: 0 auto; display: block; text-align: center; background-repeat: no-repeat;">

<div style= "margin: 0 auto; display: block;  background-repeat: no-repeat;">
<input type="text" id="study_id" name="study_id" placeholder="study_id" size="30">&emsp;&emsp;

<input type="text" id="baby_age_of_admission" name="baby_age_of_admission" placeholder="baby_age_of_admission" size="30">&emsp;&emsp;

<input type="text" id="baby_apgar_score_one_min" name="baby_apgar_score_one_min" placeholder="baby_apgar_score_one_min" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_apgar_score_five_min" name="baby_apgar_score_five_min" placeholder="baby_apgar_score_five_min" size="30">&emsp;&emsp;

<input type="text" id="baby_apgar_score_ten_min" name="baby_apgar_score_ten_min" placeholder="baby_apgar_score_ten_min" size="30">&emsp;&emsp;

<input type="text" id="baby_preterm" name="baby_preterm" placeholder="baby_preterm" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_condition_rds_yes_no" name="baby_condition_rds_yes_no" placeholder="baby_condition_rds_yes_no" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_ttnb_suspect" name="baby_condition_ttnb_suspect" placeholder="baby_condition_ttnb_suspect" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_lga_suspect" name="baby_condition_lga_suspect" placeholder="baby_condition_lga_suspect" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_condition_aga_suspect" name="baby_condition_aga_suspect" placeholder="baby_condition_aga_suspect" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_sga_suspect" name="baby_condition_sga_suspect" placeholder="baby_condition_sga_suspect" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_lbw_suspect" name="baby_condition_lbw_suspect" placeholder="baby_condition_lbw_suspect" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_gestational_age" name="baby_gestational_age" placeholder="baby_gestational_age" size="30">&emsp;&emsp;

<input type="text" id="baby_weight_at_birth" name="baby_weight_at_birth" placeholder="baby_weight_at_birth" size="30">&emsp;&emsp;

<input type="text" id="baby_weight_at_admission" name="baby_weight_at_admission" placeholder="baby_weight_at_admission" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="mother_age" name="mother_age" placeholder="mother_age" size="30">&emsp;&emsp;

<input type="text" id="mother_weight" name="mother_weight" placeholder="mother_weight" size="30">&emsp;&emsp;

<input type="text" id="mother_bmi" name="mother_bmi" placeholder="mother_bmi" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="maternal_blood_pressure" name="maternal_blood_pressure" placeholder="maternal_blood_pressure" size="30">&emsp;&emsp;

<input type="text" id="maternal_blood_pressure_diastolic" name="maternal_blood_pressure_diastolic" placeholder="maternal_blood_pressure_diastolic" size="30">&emsp;&emsp;

<input type="text" id="maternal_fever" name="maternal_fever" placeholder="maternal_fever" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="more_than_3_vaginal_examinations_during_labor" name="more_than_3_vaginal_examinations_during_labor" placeholder="more_than_3_vaginal_examinations_during_labor" size="30">&emsp;&emsp;

<input type="text" id="rupture_of_membranes_rom_one" name="rupture_of_membranes_rom_one" placeholder="rupture_of_membranes_rom_one" size="30">&emsp;&emsp;

<input type="text" id="leaking_pv" name="leaking_pv" placeholder="leaking_pv" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="rupture_of_membranes_rom" name="rupture_of_membranes_rom" placeholder="rupture_of_membranes_rom" size="30">&emsp;&emsp;

<input type="text" id="smelly_amniotic_fluid" name="smelly_amniotic_fluid" placeholder="smelly_amniotic_fluid" size="30">&emsp;&emsp;

<input type="text" id="chorioamnionitis" name="chorioamnionitis" placeholder="chorioamnionitis" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="gbs_infection" name="gbs_infection" placeholder="gbs_infection" size="30">&emsp;&emsp;

<input type="text" id="colonisation_or_urinary_tract_infection" name="colonisation_or_urinary_tract_infection" placeholder="colonisation_or_urinary_tract_infection" size="30">&emsp;&emsp;

<input type="text" id="type_of_delivery" name="type_of_delivery" placeholder="type_of_delivery" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="delayed_cord_clamping" name="delayed_cord_clamping" placeholder="delayed_cord_clamping" size="30">&emsp;&emsp;

<input type="text" id="vaginal_swab_culture_two" name="vaginal_swab_culture_two" placeholder="vaginal_swab_culture_two" size="30">&emsp;&emsp;

<input type="text" id="amniotic_fluid_culture" name="amniotic_fluid_culture" placeholder="amniotic_fluid_culture" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="vaginal_swab_culture" name="vaginal_swab_culture" placeholder="vaginal_swab_culture" size="30">&emsp;&emsp;

<input type="text" id="baby_appearance" name="baby_appearance" placeholder="baby_appearance" size="30">&emsp;&emsp;

<input type="text" id="baby_feeding_status" name="baby_feeding_status" placeholder="baby_feeding_status" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="breast_feeding_initiation" name="breast_feeding_initiation" placeholder="breast_feeding_initiation" size="30">&emsp;&emsp;

<input type="text" id="fast_breathing" name="fast_breathing" placeholder="fast_breathing" size="30">&emsp;&emsp;

<input type="text" id="baby_chest_indrawing" name="baby_chest_indrawing" placeholder="baby_chest_indrawing" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="urine_output" name="urine_output" placeholder="urine_output" size="30">&emsp;&emsp;

<input type="text" id="baby_blood_pressure_mean_arterial_bp" name="baby_blood_pressure_mean_arterial_bp" placeholder="baby_blood_pressure_mean_arterial_bp" size="30">&emsp;&emsp;

<input type="text" id="baby_blood_pressure_upper_limb" name="baby_blood_pressure_upper_limb" placeholder="baby_blood_pressure_upper_limb" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_blood_pressure_lower_limb" name="baby_blood_pressure_lower_limb" placeholder="baby_blood_pressure_lower_limb" size="30">&emsp;&emsp;

<input type="text" id="abdominal_dystension" name="abdominal_dystension" placeholder="abdominal_dystension" size="30">&emsp;&emsp;

<input type="text" id="frequency_of_stools" name="frequency_of_stools" placeholder="frequency_of_stools" size="30">&emsp;&emsp;

</div>



<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="vomiting" name="vomiting" placeholder="vomiting" size="30">&emsp;&emsp;

<input type="text" id="baby_movement" name="baby_movement" placeholder="baby_movement" size="30">&emsp;&emsp;

<input type="text" id="mother_height" name="mother_height" placeholder="mother_height" size="30">&emsp;&emsp;
</div>



</div>



<button style= "margin-top: 2%; margin-left:45%; display: block; text-align: center; background-repeat: no-repeat;" type="submit">Generate Score</button>