
<form action="{{ url_for("form")}}" method="POST">
<div style= "margin: 0 auto; display: block; text-align: center; background-repeat: no-repeat;">

<div style= "margin: 0 auto; display: block;  background-repeat: no-repeat;">

<input type="text" id="study_id" name="study_id" placeholder="study_id" size="30">&emsp;&emsp;

<input type="text" id="baby_birth_time_hours" name="baby_birth_time_hours" placeholder="baby_birth_time_hours" size="30">&emsp;&emsp;

<input type="text" id="baby_birth_time_minit" name="baby_birth_time_minit" placeholder="baby_birth_time_minit" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_apgar_score_one_min" name="baby_apgar_score_one_min" placeholder="baby_apgar_score_one_min" size="30">&emsp;&emsp;

<input type="text" id="baby_apgar_score_five_min" name="baby_apgar_score_five_min" placeholder="baby_apgar_score_five_min" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_yes_eos_los" name="baby_condition_yes_eos_los" placeholder="baby_condition_yes_eos_los" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_condition_lga_suspect" name="baby_condition_lga_suspect" placeholder="baby_condition_lga_suspect" size="30">&emsp;&emsp;

<input type="text" id="baby_gestational_age" name="baby_gestational_age" placeholder="baby_gestational_age" size="30">&emsp;&emsp;

<input type="text" id="baby_weight_at_birth" name="baby_weight_at_birth" placeholder="baby_weight_at_birth" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_condition_suspect" name="baby_condition_suspect" placeholder="baby_condition_suspect" size="30">&emsp;&emsp;

<input type="text" id="baby_weight_at_admission" name="baby_weight_at_admission" placeholder="baby_weight_at_admission" size="30">&emsp;&emsp;

<input type="text" id="baby_condition_other_if_suspect" name="baby_condition_other_if_suspect" placeholder="baby_condition_other_if_suspect" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="mother_age" name="mother_age" placeholder="mother_age" size="30">&emsp;&emsp;

<input type="text" id="mother_weight" name="mother_weight" placeholder="mother_weight" size="30">&emsp;&emsp;

<input type="text" id="mother_height" name="mother_height" placeholder="mother_height" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="mother_haemoglobin" name="mother_haemoglobin" placeholder="mother_haemoglobin" size="30">&emsp;&emsp;

<input type="text" id="mother_bmi" name="mother_bmi" placeholder="mother_bmi" size="30">&emsp;&emsp;

<input type="text" id="maternal_blood_pressure" name="maternal_blood_pressure" placeholder="maternal_blood_pressure" size="30">&emsp;&emsp;
</div>

<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="maternal_blood_pressure_diastolic" name="maternal_blood_pressure_diastolic" placeholder="maternal_blood_pressure_diastolic" size="30">&emsp;&emsp;

<input type="text" id="maternal_fever" name="maternal_fever" placeholder="maternal_fever" size="30">&emsp;&emsp;

<input type="text" id="maternal_thyroid_function_unit_basic" name="maternal_thyroid_function_unit_basic" placeholder="maternal_thyroid_function_unit_basic" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="chorioamnionitis" name="chorioamnionitis" placeholder="chorioamnionitis" size="30">&emsp;&emsp;

<input type="text" id="delayed_cord_clamping" name="delayed_cord_clamping" placeholder="delayed_cord_clamping" size="30">&emsp;&emsp;

<input type="text" id="rupture_of_membranes_rom_two" name="rupture_of_membranes_rom_two" placeholder="rupture_of_membranes_rom_two" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="hypothermia_status_value" name="hypothermia_status_value" placeholder="hypothermia_status_value" size="30">&emsp;&emsp;

<input type="text" id="oxygen_saturation" name="oxygen_saturation" placeholder="oxygen_saturation" size="30">&emsp;&emsp;

<input type="text" id="breathing_rate" name="breathing_rate" placeholder="breathing_rate" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="x_ray_diagnosis_any_other" name="x_ray_diagnosis_any_other" placeholder="x_ray_diagnosis_any_other" size="30">&emsp;&emsp;

<input type="text" id="baby_respiratory_support" name="baby_respiratory_support" placeholder="baby_respiratory_support" size="30">&emsp;&emsp;

<input type="text" id="heart_rate" name="heart_rate" placeholder="heart_rate" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="urine_output" name="urine_output" placeholder="urine_output" size="30">&emsp;&emsp;

<input type="text" id="baby_blood_pressure_mean_arterial_bp" name="baby_blood_pressure_mean_arterial_bp" placeholder="baby_blood_pressure_mean_arterial_bp" size="30">&emsp;&emsp;

<input type="text" id="baby_blood_pressure_upper_limb" name="baby_blood_pressure_upper_limb" placeholder="baby_blood_pressure_upper_limb" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_blood_pressure_lower_limb" name="baby_blood_pressure_lower_limb" placeholder="baby_blood_pressure_lower_limb" size="30">&emsp;&emsp;

<input type="text" id="two_d_echo_done_if_yes" name="two_d_echo_done_if_yes" placeholder="two_d_echo_done_if_yes" size="30">&emsp;&emsp;

<input type="text" id="frequency_of_stools" name="frequency_of_stools" placeholder="frequency_of_stools" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_movement" name="baby_movement" placeholder="baby_movement" size="30">&emsp;&emsp;

<input type="text" id="baby_thyroid_status" name="baby_thyroid_status" placeholder="baby_thyroid_status" size="30">&emsp;&emsp;

<input type="text" id="baby_thyroid_result" name="baby_thyroid_result" placeholder="baby_thyroid_result" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="baby_blood_glucose" name="baby_blood_glucose" placeholder="baby_blood_glucose" size="30">&emsp;&emsp;

<input type="text" id="baby_haemoglobin_levels" name="baby_haemoglobin_levels" placeholder="baby_haemoglobin_levels" size="30">&emsp;&emsp;

<input type="text" id="baby_c_reactive_protien_levels" name="baby_c_reactive_protien_levels" placeholder="baby_c_reactive_protien_levels" size="30">&emsp;&emsp;
</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="total_leucocute_count" name="total_leucocute_count" placeholder="total_leucocute_count" size="30">&emsp;&emsp;

<input type="text" id="absolute_neutrophil_count" name="absolute_neutrophil_count" placeholder="absolute_neutrophil_count" size="30">&emsp;&emsp;

<input type="text" id="thrombocytopenia" name="thrombocytopenia" placeholder="thrombocytopenia" size="30">&emsp;&emsp;

</div>



<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="sodium" name="sodium" placeholder="sodium" size="30">&emsp;&emsp;

<input type="text" id="potassium" name="potassium" placeholder="potassium" size="30">&emsp;&emsp;

<input type="text" id="chlorine" name="chlorine" placeholder="chlorine" size="30">&emsp;&emsp;

</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="calcium" name="calcium" placeholder="calcium" size="30">&emsp;&emsp;

<input type="text" id="magnesium" name="magnesium" placeholder="magnesium" size="30">&emsp;&emsp;

<input type="urea" id="urea" name="urea" placeholder="urea" size="30">&emsp;&emsp;

</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="creatinine" name="creatinine" placeholder="creatinine" size="30">&emsp;&emsp;

<input type="text" id="lactate_levels" name="lactate_levels" placeholder="lactate_levels" size="30">&emsp;&emsp;

<input type="bilirubin_levels" id="bilirubin_levels" name="bilirubin_levels" placeholder="bilirubin_levels" size="30">&emsp;&emsp;

</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="cord_ph" name="cord_ph" placeholder="cord_ph" size="30">&emsp;&emsp;

<input type="text" id="csf_culture_tsb_value" name="csf_culture_tsb_value" placeholder="csf_culture_tsb_value" size="30">&emsp;&emsp;

<input type="final_diagnosis_rds" id="final_diagnosis_rds" name="final_diagnosis_rds" placeholder="final_diagnosis_rds" size="30">&emsp;&emsp;

</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="final_diagnosis_lga" name="final_diagnosis_lga" placeholder="final_diagnosis_lga" size="30">&emsp;&emsp;

<input type="text" id="final_diagnosis_shock" name="final_diagnosis_shock" placeholder="final_diagnosis_shock" size="30">&emsp;&emsp;

<input type="final_diagnosis_eos_los" id="final_diagnosis_eos_los" name="final_diagnosis_eos_los" placeholder="final_diagnosis_eos_los" size="30">&emsp;&emsp;

</div>


<div style= "margin-top: 2%; display: block; background-repeat: no-repeat;">

<input type="text" id="final_diagnosis_other" name="final_diagnosis_other" placeholder="final_diagnosis_other" size="30">&emsp;&emsp;

</div>

</div>



<button style= "margin-top: 2%; margin-left:45%; display: block; text-align: center; background-repeat: no-repeat;" type="submit">Generate Score</button>