.pieWrapper{
    border-radius: 100%;
     width:20vw;
     height: 20vw; 
     margin:auto;
     font-size: 40px;
}

.textBoldWrapper{
    color: white; font-weight: 1000;
}

.pieData{
    text-align: center;
    line-height: 20vw;
    color: white; 
    font-size: 9vw;
}

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: -webkit-box;
    margin: auto;
  }

  @media only screen and (max-width: 600px) {
    .pieData{

        font-size: 8vw;
    }
  }
